.App {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.recipes-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 6.25rem;
  border-radius: 10px;
}
.each-recipe {
  border-radius: 10px;
  box-shadow: 0 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  min-width: 40%;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f68084;
  padding: 1rem;
  margin: -1rem;
  position: fixed;
  width: 100%;
  top: 1rem;
}
input.search-bar {
  width: 50%;
  padding: 10px;
  border: 0;
  height: 1.4rem;
  background-color: #a6c0fe;
}
button.searchBtn {
  width: 30%;
  height: 2.6rem;
  padding: 10px;
  margin-left: 1rem;
}
.each-recipe img {
  border-radius: 1rem;
}
